<div class="infinite-sent-messages">
  <h1>Sent Messages</h1>
  <%= render 'sent_messages' %>
  <p class="pagination">
    <%= link_to_next_page(@sent_messages, 'Next Page', :remote => true) %>
  </p>
</div>
