<h1>Please who you want to add</h1>

<% User.all.each do |user| %>
  <strong><%= user.username %></strong>
  <%= link_to "Add to friendlist", friendships_path(:friend_id => user), method: :post %>
<% end %>
