@import 'bootstrap';
@import 'font-awesome';

body {
    background-color:  #d7d7d2;
}

.nav-item a {
    color: hotpink !important;

    text-decoration: none !important;
}

.nav .navbar-text a {
    color: white !important;
    text-decoration: none !important;
}

.navbar
{
    margin-bottom: 20px;
}
/*flash*/
.alert-error
{
    text-align: left;

    color: #b94a48;
    border-color: #eed3d7;
    background-color: #f2dede;
}
.alert-alert
{
    text-align: left;

    color: #b94a48;
    border-color: #eed3d7;
    background-color: #f2dede;
}
.alert-success
{
    text-align: left;

    color: #468847;
    border-color: #d6e9c6;
    background-color: #dff0d8;
}
.alert-notice
{
    text-align: left;

    color: #468847;
    border-color: #d6e9c6;
    background-color: #dff0d8;
}

.profile-image
{
    width: 20px;
    height: 20px;
}


